body {
    margin: 0px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background:
        linear-gradient(green, #000000AA), 
        url("../images/cityscape.jpg");
}

h1 {
    font-size: 80px;
    color: white;
}
